body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:485px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u11697_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:616px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u11697 {
  position:absolute;
  left:110px;
  top:60px;
  width:375px;
  height:616px;
}
#u11698 {
  position:absolute;
  left:2px;
  top:300px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11699 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u11700_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:50px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u11700 {
  position:absolute;
  left:110px;
  top:60px;
  width:375px;
  height:50px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u11701 {
  position:absolute;
  left:2px;
  top:16px;
  width:371px;
  word-wrap:break-word;
}
#u11702_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Light', 'PingFang SC Light', 'PingFang SC';
  font-weight:200;
  font-style:normal;
  text-align:left;
}
#u11702 {
  position:absolute;
  left:110px;
  top:120px;
  width:375px;
  height:40px;
  font-family:'PingFangSC-Light', 'PingFang SC Light', 'PingFang SC';
  font-weight:200;
  font-style:normal;
  text-align:left;
}
#u11703 {
  position:absolute;
  left:2px;
  top:11px;
  width:371px;
  word-wrap:break-word;
}
#u11704_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Light', 'PingFang SC Light', 'PingFang SC';
  font-weight:200;
  font-style:normal;
  text-align:left;
}
#u11704 {
  position:absolute;
  left:110px;
  top:161px;
  width:375px;
  height:40px;
  font-family:'PingFangSC-Light', 'PingFang SC Light', 'PingFang SC';
  font-weight:200;
  font-style:normal;
  text-align:left;
}
#u11705 {
  position:absolute;
  left:2px;
  top:11px;
  width:371px;
  word-wrap:break-word;
}
#u11706_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:12px;
}
#u11706 {
  position:absolute;
  left:127px;
  top:79px;
  width:10px;
  height:12px;
}
#u11707 {
  position:absolute;
  left:2px;
  top:-2px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11708_div {
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  height:40px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u11708 {
  position:absolute;
  left:158px;
  top:218px;
  width:280px;
  height:40px;
}
#u11709 {
  position:absolute;
  left:2px;
  top:11px;
  width:276px;
  word-wrap:break-word;
}
#u11710_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Light', 'PingFang SC Light', 'PingFang SC';
  font-weight:200;
  font-style:normal;
  font-size:12px;
  color:#CCCCCC;
}
#u11710 {
  position:absolute;
  left:206px;
  top:173px;
  width:73px;
  height:17px;
  font-family:'PingFangSC-Light', 'PingFang SC Light', 'PingFang SC';
  font-weight:200;
  font-style:normal;
  font-size:12px;
  color:#CCCCCC;
}
#u11711 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u11712_div {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Light', 'PingFang SC Light', 'PingFang SC';
  font-weight:200;
  font-style:normal;
  font-size:12px;
  color:#4B8CF0;
}
#u11712 {
  position:absolute;
  left:412px;
  top:173px;
  width:61px;
  height:17px;
  font-family:'PingFangSC-Light', 'PingFang SC Light', 'PingFang SC';
  font-weight:200;
  font-style:normal;
  font-size:12px;
  color:#4B8CF0;
}
#u11713 {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  white-space:nowrap;
}
#u11714_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:21px;
}
#u11714 {
  position:absolute;
  left:402px;
  top:171px;
  width:1px;
  height:20px;
}
#u11715 {
  position:absolute;
  left:2px;
  top:2px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
