body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:475px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u9044_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:517px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u9044 {
  position:absolute;
  left:100px;
  top:50px;
  width:375px;
  height:517px;
}
#u9045 {
  position:absolute;
  left:2px;
  top:250px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9046 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u9047_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:47px;
  background:inherit;
  background-color:rgba(75, 140, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Light', 'PingFang SC Light', 'PingFang SC';
  font-weight:200;
  font-style:normal;
  color:#FFFFFF;
}
#u9047 {
  position:absolute;
  left:100px;
  top:50px;
  width:375px;
  height:47px;
  font-family:'PingFangSC-Light', 'PingFang SC Light', 'PingFang SC';
  font-weight:200;
  font-style:normal;
  color:#FFFFFF;
}
#u9048 {
  position:absolute;
  left:2px;
  top:14px;
  width:371px;
  word-wrap:break-word;
}
#u9049_img {
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  height:15px;
}
#u9049 {
  position:absolute;
  left:115px;
  top:66px;
  width:11px;
  height:15px;
}
#u9050 {
  position:absolute;
  left:2px;
  top:0px;
  width:7px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9051 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u9052_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u9052 {
  position:absolute;
  left:100px;
  top:515px;
  width:375px;
  height:50px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u9053 {
  position:absolute;
  left:2px;
  top:17px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9054_div {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:40px;
  background:inherit;
  background-color:rgba(75, 140, 240, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u9054 {
  position:absolute;
  left:128px;
  top:520px;
  width:320px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u9055 {
  position:absolute;
  left:2px;
  top:11px;
  width:316px;
  word-wrap:break-word;
}
#u9056_img {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:350px;
}
#u9056 {
  position:absolute;
  left:163px;
  top:117px;
  width:250px;
  height:350px;
}
#u9057 {
  position:absolute;
  left:2px;
  top:167px;
  width:246px;
  visibility:hidden;
  word-wrap:break-word;
}
