body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:475px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u4961_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:504px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4961 {
  position:absolute;
  left:100px;
  top:50px;
  width:375px;
  height:504px;
}
#u4962 {
  position:absolute;
  left:2px;
  top:244px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4963 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4964_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Light', 'PingFang SC Light', 'PingFang SC';
  font-weight:200;
  font-style:normal;
}
#u4964 {
  position:absolute;
  left:100px;
  top:50px;
  width:375px;
  height:50px;
  font-family:'PingFangSC-Light', 'PingFang SC Light', 'PingFang SC';
  font-weight:200;
  font-style:normal;
}
#u4965 {
  position:absolute;
  left:2px;
  top:16px;
  width:371px;
  word-wrap:break-word;
}
#u4966_div {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#000000;
}
#u4966 {
  position:absolute;
  left:121px;
  top:65px;
  width:12px;
  height:21px;
  font-size:18px;
  color:#000000;
}
#u4967 {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  white-space:nowrap;
}
#u4968 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4969_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:150px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4969 {
  position:absolute;
  left:100px;
  top:101px;
  width:375px;
  height:150px;
}
#u4970 {
  position:absolute;
  left:2px;
  top:67px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4971_div {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Light', 'PingFang SC Light', 'PingFang SC';
  font-weight:200;
  font-style:normal;
  font-size:12px;
}
#u4971 {
  position:absolute;
  left:121px;
  top:116px;
  width:85px;
  height:17px;
  font-family:'PingFangSC-Light', 'PingFang SC Light', 'PingFang SC';
  font-weight:200;
  font-style:normal;
  font-size:12px;
}
#u4972 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u4973_img {
  position:absolute;
  left:0px;
  top:0px;
  width:342px;
  height:2px;
}
#u4973 {
  position:absolute;
  left:121px;
  top:130px;
  width:341px;
  height:1px;
}
#u4974 {
  position:absolute;
  left:2px;
  top:-8px;
  width:337px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4975 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4976_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:150px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4976 {
  position:absolute;
  left:100px;
  top:252px;
  width:375px;
  height:150px;
}
#u4977 {
  position:absolute;
  left:2px;
  top:67px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4978_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Light', 'PingFang SC Light', 'PingFang SC';
  font-weight:200;
  font-style:normal;
  font-size:12px;
}
#u4978 {
  position:absolute;
  left:121px;
  top:267px;
  width:73px;
  height:17px;
  font-family:'PingFangSC-Light', 'PingFang SC Light', 'PingFang SC';
  font-weight:200;
  font-style:normal;
  font-size:12px;
}
#u4979 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u4980_img {
  position:absolute;
  left:0px;
  top:0px;
  width:342px;
  height:2px;
}
#u4980 {
  position:absolute;
  left:121px;
  top:281px;
  width:341px;
  height:1px;
}
#u4981 {
  position:absolute;
  left:2px;
  top:-8px;
  width:337px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4982 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4983_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:150px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4983 {
  position:absolute;
  left:100px;
  top:403px;
  width:375px;
  height:150px;
}
#u4984 {
  position:absolute;
  left:2px;
  top:67px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4985_div {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Light', 'PingFang SC Light', 'PingFang SC';
  font-weight:200;
  font-style:normal;
  font-size:12px;
}
#u4985 {
  position:absolute;
  left:121px;
  top:418px;
  width:85px;
  height:17px;
  font-family:'PingFangSC-Light', 'PingFang SC Light', 'PingFang SC';
  font-weight:200;
  font-style:normal;
  font-size:12px;
}
#u4986 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u4987_img {
  position:absolute;
  left:0px;
  top:0px;
  width:342px;
  height:2px;
}
#u4987 {
  position:absolute;
  left:121px;
  top:432px;
  width:341px;
  height:1px;
}
#u4988 {
  position:absolute;
  left:2px;
  top:-8px;
  width:337px;
  visibility:hidden;
  word-wrap:break-word;
}
