body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:695px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u11573_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:616px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u11573 {
  position:absolute;
  left:110px;
  top:60px;
  width:375px;
  height:616px;
}
#u11574 {
  position:absolute;
  left:2px;
  top:300px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11575 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u11576_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:50px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u11576 {
  position:absolute;
  left:110px;
  top:60px;
  width:375px;
  height:50px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u11577 {
  position:absolute;
  left:2px;
  top:16px;
  width:371px;
  word-wrap:break-word;
}
#u11578_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:12px;
}
#u11578 {
  position:absolute;
  left:127px;
  top:79px;
  width:10px;
  height:12px;
}
#u11579 {
  position:absolute;
  left:2px;
  top:-2px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11580_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:40px;
}
#u11580 {
  position:absolute;
  left:694px;
  top:344px;
  width:1px;
  height:39px;
}
#u11581 {
  position:absolute;
  left:2px;
  top:12px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11582_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Light', 'PingFang SC Light', 'PingFang SC';
  font-weight:200;
  font-style:normal;
  font-size:12px;
  color:#999999;
}
#u11582 {
  position:absolute;
  left:261px;
  top:397px;
  width:73px;
  height:21px;
  font-family:'PingFangSC-Light', 'PingFang SC Light', 'PingFang SC';
  font-weight:200;
  font-style:normal;
  font-size:12px;
  color:#999999;
}
#u11583 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u11584_img {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:70px;
}
#u11584 {
  position:absolute;
  left:262px;
  top:318px;
  width:70px;
  height:69px;
  font-size:10px;
}
#u11585 {
  position:absolute;
  left:2px;
  top:20px;
  width:66px;
  word-wrap:break-word;
}
