body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:475px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u9604_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:500px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u9604 {
  position:absolute;
  left:100px;
  top:50px;
  width:375px;
  height:500px;
}
#u9605 {
  position:absolute;
  left:2px;
  top:242px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9606 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u9607_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:181px;
  background:-webkit-linear-gradient(270deg, rgba(75, 140, 240, 1) 0%, rgba(75, 140, 240, 1) 0%, rgba(255, 255, 255, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(75, 140, 240, 1) 0%, rgba(75, 140, 240, 1) 0%, rgba(255, 255, 255, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(75, 140, 240, 1) 0%, rgba(75, 140, 240, 1) 0%, rgba(255, 255, 255, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Thin', 'PingFang SC Thin', 'PingFang SC';
  font-weight:200;
  font-style:normal;
}
#u9607 {
  position:absolute;
  left:100px;
  top:50px;
  width:375px;
  height:181px;
  font-family:'PingFangSC-Thin', 'PingFang SC Thin', 'PingFang SC';
  font-weight:200;
  font-style:normal;
}
#u9608 {
  position:absolute;
  left:2px;
  top:82px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9609_img {
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  height:14px;
}
#u9609 {
  position:absolute;
  left:115px;
  top:64px;
  width:11px;
  height:14px;
}
#u9610 {
  position:absolute;
  left:2px;
  top:-1px;
  width:7px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9611_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:146px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Light', 'PingFang SC Light', 'PingFang SC';
  font-weight:200;
  font-style:normal;
  font-size:12px;
  text-align:left;
}
#u9611 {
  position:absolute;
  left:100px;
  top:231px;
  width:375px;
  height:146px;
  font-family:'PingFangSC-Light', 'PingFang SC Light', 'PingFang SC';
  font-weight:200;
  font-style:normal;
  font-size:12px;
  text-align:left;
}
#u9612 {
  position:absolute;
  left:2px;
  top:65px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9613_div {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:45px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Thin', 'PingFang SC Thin', 'PingFang SC';
  font-weight:200;
  font-style:normal;
  color:#FFFFFF;
}
#u9613 {
  position:absolute;
  left:366px;
  top:161px;
  width:99px;
  height:45px;
  font-family:'PingFangSC-Thin', 'PingFang SC Thin', 'PingFang SC';
  font-weight:200;
  font-style:normal;
  color:#FFFFFF;
}
#u9614 {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  white-space:nowrap;
}
#u9615_div {
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Light', 'PingFang SC Light', 'PingFang SC';
  font-weight:200;
  font-style:normal;
  font-size:12px;
}
#u9615 {
  position:absolute;
  left:349px;
  top:387px;
  width:116px;
  height:17px;
  font-family:'PingFangSC-Light', 'PingFang SC Light', 'PingFang SC';
  font-weight:200;
  font-style:normal;
  font-size:12px;
}
#u9616 {
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  white-space:nowrap;
}
#u9617 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u9618_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u9618 {
  position:absolute;
  left:100px;
  top:489px;
  width:375px;
  height:60px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u9619 {
  position:absolute;
  left:2px;
  top:22px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9620_div {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:40px;
  background:inherit;
  background-color:rgba(75, 140, 240, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Light', 'PingFang SC Light', 'PingFang SC';
  font-weight:200;
  font-style:normal;
  color:#FFFFFF;
}
#u9620 {
  position:absolute;
  left:128px;
  top:501px;
  width:320px;
  height:40px;
  font-family:'PingFangSC-Light', 'PingFang SC Light', 'PingFang SC';
  font-weight:200;
  font-style:normal;
  color:#FFFFFF;
}
#u9621 {
  position:absolute;
  left:2px;
  top:11px;
  width:316px;
  word-wrap:break-word;
}
